// Visibility
@mixin hidden {
   visibility: hidden;
   opacity: 0;
}
@mixin visible {
   visibility: visible;
   opacity: 1;
}

// Center item
@mixin midflex {
   display: flex;
   justify-content: center;
   align-items: center;
}

//Position
@mixin  center {
   position: absolute;
   top: 50%;
   left: 50%;
   transform: translate(-50%, -50%);
}
@mixin  centerFixed {
   position: fixed;
   top: 50%;
   left: 50%;
   transform: translate(-50%, -50%);
}
@mixin posAbTopLeft {
   position: absolute;
   top: 0;
   left: 0;
}
//////////////////////////////////////////////


@mixin text($ff, $fz, $cl, $tf, $ls) {
   font-family: $ff;
   font-size: $fz;
   color: $cl;
   text-transform: $tf;
   letter-spacing: $ls;
}

@mixin img {
   width: 100%;
   height: 100%;
   object-fit: cover;
}


///////////////////////////////////////////////
@mixin hover-btn {
   &:after {
      content: "";
      top: 0;
      display: block;
      width: 30%;
      height: 100%;
      position: absolute;
      border-bottom: 2px solid $main-cl-yellow;
      transition: .3s ease-out;
   }
   &:hover {
      &:after {
         width: 100%;
         transition: .3s ease;
      }
   }
}
@mixin line-title {
   &:before {
      content: "";
      display: block;
      position: absolute;
      height: 1px;
      background: #000;
   }
}


// Media queries
@mixin desktop-large {
	@media (max-width: $lg-max) {
		@content;
	}
}

@mixin desktop {
	@media (max-width: $md-max) {
		@content;
	}
}

@mixin tablet {
	@media screen and (max-width: $sm-max) and (min-height: 500px) {
		@content;
	}
}

@mixin mobile {
	@media screen and (min-width: 320px) and (max-width: $xs-max) {
		@content;
	}
}

@mixin mobile-xxs {
	@media (max-width: $xxs-max) {
		@content;
	}
}
